body {
    margin: 0;
    height: 100vh;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    height: 100%;
    margin: 2em;
}
.row{
    display: flexbox;
    flex-direction: column;
    gap: 2em;
}
.widget{
    display: flex; flex-direction: column;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#titulo{
    margin: 0px;
    color: red;
    font-size: larger;
    font-weight: 700;
}